.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: 100
}

.container.top{
  flex-direction: column-reverse;
}

.hidden {
  pointer-events: none;
}

.shadow {
  flex: 1;
  background-color: #00000030;
}

.contentContainerShadow {
  background-color: #00000030;
}

.contentContainer {
  height: 100%;
  width: 400px;
  max-width: 100vw;
  background-color: white;
  border: 4px solid black;
  border-radius: 16px 0 0 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.contentContainer.top{
  width: 100%;
  height: auto;
  max-height: 90vh;
border-radius: 0 0 16px 16px ;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  flex: 1;
}

.title{
  font-size: 1.5rem;
  font-weight: bold;
}