.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  gap: 32px;
}

.tableHeaderRow{
}

.tableHeader{
    text-align: left;
    border-bottom: 1px solid black;
padding: 16px;
font-size: 1.4rem;
}

.tableCell{
    text-align: left;
    padding: 16px;
font-size: 1.4rem;

}

.startGameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.error{
    color: red;
    text-align: center;
}