.prompt{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 32px 0;
    width: 100%;
    text-align: center;
}

.submissionContainer {
  border-radius: 10px 8px 13px 14px;

  border-top-width: 2px;
  border-right-width: 2px;
  border-left-width: 6px;
  border-bottom-width: 8px;

  font: inherit;
  cursor: pointer;
  outline: none;
  border-style: solid;
  font-weight:normal;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;

  transition: all 0.25s;
  margin: 0;
  font-size: 1.2rem;

  width: 100%;
  padding: 16px 24px;

  margin-bottom: 24px;
}

h4.hidden{
    filter: blur(0.5rem)

}

.submissionContainer:active:not(.hidden) {
  border-left-width: 2px;
  border-bottom-width: 2px;
  margin: 0 2px 28px 0;
  border-radius: 8px;
}

.iconPlaceholder{
    width: 24px
}

.gameCode{
    position: absolute;
    left: 24px;
    top: 0;
    font-size: 1.12rem;
    font-weight: bold;
    border-radius: 0 0 16px 16px;
    padding: 0 16px 16px 16px;
    background-color: black;
    color: white;
    margin: -1px 0 0 -16px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.contentContainer{
    margin: 64px 0 0 0;
}

.label{
    font-size: 1.2rem;
}

.value{
    font-size: 1.5rem;
    font-weight: bold;
}

.drawerContent{
    display: flex;
    flex-direction: column;
    gap: 24px
}

.iconContainer{
    width: 24px
}